 /* roboto-regular - latin */
 @font-face {
   font-display: swap; 
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2'); 
}
/* roboto-500 - latin */
@font-face {
   font-display: swap; 
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/roboto-v48-latin-500.woff2') format('woff2'); 
}
/* roboto-700 - latin */
@font-face {
   font-display: swap; 
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2'); 
}

/* variables */
:root {
   /* colors */
   --white: #fff;
   --black: #000;
   --primary: #842C68;
   --gary-100; #535353;
   --gray-300: #E5E5E5;
   --gray-400: #c4c4c4;
   --star: #f3b541;
   
   /* bg-colors */
   --gray-bg: #f2f2f2;
   --black-bg: #000;
   --white-bg: #fff;
   
   /* font */
   --font: "Roboto", "Arial", sans-serif;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   width: 100%;
   overflow-x: hidden;
}

ul,
ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
   display: flex;
   
}

.container {
   width: 100%;
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 20px;
}

button {
   display: flex;
   
   cursor: pointer;
   background-color: transparent;
   border: 0;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   font-size: inherit;
   
}

hr {
   border: 0;
   width: 100%;
   height: 2px;
   display: block;
   background-color: var(--gray-400);
}

/* roboto => 400, 500, 700 */

